@import "_base.scss";

.Toast {
  position: absolute;
  overflow: hidden;
  z-index: $z-toast;
  bottom: 12vh;
  padding: 1.5rem 2.25rem;
  box-sizing: content-box;
  border-radius: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $color-bg-black;
  box-shadow: 0px 10px 20px $color-pitch-black-overlay-50;
  text-align: center;
  font-size: 1.1rem;
  width: 60%;
  max-width: 300px;
}

.Toast.desktop {
  left: 70%;
  // right: 5%;
  // transform: translate(0%, 0);
}
