@import "_base";

.PlaylistView {
  position: fixed;
  z-index: $z-playlist;
  top: 0;
  width: 100%;
  height: 92vh;
  overflow-y: scroll;

  background: $color-bg-blue;
  background: linear-gradient($color-bg-black 0%, $color-bg-blue 100%);
}
