@import "_base.scss";

.SongListItem {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5rem;
  grid-gap: 0.75rem;
  align-items: center;
  padding: 0.85rem 1rem;
  border-bottom: 1px solid $color-bg-black-blue-25;

  .song {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: 4rem 1fr;
    align-items: center;
  }

  img {
    width: 100%;
    border-radius: 5px;
  }
  .info {
    overflow: hidden;

    h1 {
      @extend .regularText;
      white-space: nowrap;
      // left: -10px;
    }
    h2 {
      @extend .subText;
      white-space: nowrap;
    }
  }

  .option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;

    img {
      width: 1.25rem;
      border-radius: 0px;
    }
  }
}

.SongListItem.active {
  background: $color-bg-black-blue-50;
}
