@import "_base.scss";

.SongListItem {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-gap: 0.75rem;
  align-items: center;
  padding: 0.25rem 0.5rem;

  .song {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: 3rem 1fr;
    align-items: center;
  }

  img {
    width: 100%;
    border-radius: 5px;
  }
  .info {
    overflow: hidden;

    h1 {
      @extend .regularText;
      white-space: nowrap;
      // left: -10px;
    }
    h2 {
      @extend .subText;
    }
  }

  .option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;

    img {
      width: 1rem;
      border-radius: 0px;
    }
  }
}

.SongListItem.active {
  background: $color-bg-black-blue-50;
}
