@import "_base.scss";

.BlackOverlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99;

  background: $color-pitch-black-overlay;
}

.Popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99;

  .container {
    position: absolute;
    z-index: 100;
    @extend .centerVertical;
    width: 90vw;
    max-width: 512px;
    margin: 0 5vw;
    padding: 1.5rem 5vw;
    background: $color-black-transparent;
    border-radius: 10px;

    > h1 {
      @extend .headingText;
      text-align: center;
      margin-bottom: 1rem;
    }
    .content {
      width: calc(80vw);
      position: relative;
    }
  }
}
