@import "_base.scss";

.Option {
  overflow: hidden;
  position: absolute;
  z-index: $z-option;
  // right: 1.25rem;

  display: grid;
  grid-template-rows: 1fr;

  .container {
    margin-left: 0.5rem;
    background: $color-black-transparent;
    border: 2px solid $color-red;
    border-radius: 10px 10px 10px 10px;
    padding: 1rem 0;
  }

  .OptionItem {
    font-size: 1.15rem;
    padding: 0.75rem 1.5rem;

    &:hover {
      background: $color-red;
      transition: 0.15s ease;
    }
  }
}
