@import "_base.scss";

.Navbar {
  position: fixed;
  z-index: $z-navbar;
  bottom: 0vh;
  width: 100%;
  background: $color-bg-black-blue;
  height: 8vh;
  padding: 1.5vh 0 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.Navbar.desktop {
  position: absolute;
  margin-left: -1rem;
  z-index: $z-navbar-desktop;
}

.NavbarItem {
  text-align: center;

  div {
    display: block;
    margin: 0 auto;
    height: 1.75rem;
  }
  img {
    min-height: 1.5rem;
  }
  span {
    font-size: 0.8rem;
    color: $color-blue;

    &.active {
      color: $color-white;
    }
  }
}
