@import "_base.scss";

.PlayerProgress {
  .PlayerProgressBar {
    height: 2px;
    background: $color-black-transparent;
    position: relative;

    .current {
      height: 4px;
      background: linear-gradient(90deg, $color-red 0%, $color-violet 100%);
    }

    .pointer {
      border-radius: 100%;
      position: absolute;
      width: 16px;
      height: 16px;
      top: -6px;
      background: $color-violet;
    }
  }

  .PlayerTime {
    overflow: hidden;
    font-size: 0.8rem;
    width: 97.5%;
    position: relative;
    margin: 0 auto;
    top: -0.25rem;

    .current {
      float: left;
    }
    .total {
      float: right;
    }
  }
}
