@import "_base.scss";

.MiniPlayer {
  @extend .centerHorizontal;

  position: fixed;
  z-index: $z-miniplayer;
  width: 95%;
  max-width: 512px;
  height: 9vh;
  bottom: 9.5vh;
  box-shadow: 0px 10px 20px $color-pitch-black-overlay-50;
  background: $color-black-transparent;
  border-radius: 10px;
  padding: 0 0 0 1rem;

  display: grid;
  grid-template-columns: 6.5vh 4fr 1.25fr;
  grid-gap: 0.75rem;
  align-items: center;

  & > img {
    height: 6.5vh;
    width: 6.5vh;
    object-fit: cover;
    border-radius: 100%;
    animation: resetRotation 0.3s ease;

    &.rotate {
      animation: rotation 30s linear infinite;
    }
  }
  .info {
    overflow: hidden;

    h1 {
      @extend .regularText;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }
    h2 {
      @extend .subText;
      margin-top: 0.25rem;
      color: $color-blue;
    }
  }

  .control {
    display: grid;
    grid-template-columns: 1fr 4fr 1.25fr;
    grid-gap: 1rem;
    align-items: center;

    img {
      width: 3.25rem;
      border-radius: 0px;
    }
    .ButtonNext {
      width: 1rem;
      img {
        width: 1.25rem;
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes resetRotation {
  0% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
