@import "_base.scss";

.MiniPlayer {
  @extend .centerHorizontal;

  position: fixed;
  z-index: 50;
  width: 95%;
  max-width: 512px;
  height: 9vh;
  bottom: 9.5vh;
  box-shadow: 0px 10px 20px $color-pitch-black-overlay-50;
  background: $color-black-transparent;
  border-radius: 10px;
  padding: 0 0 0 1rem;

  display: grid;
  grid-template-columns: 6.5vh 4fr 1.25fr;
  grid-gap: 0.5rem;
  align-items: center;

  img {
    height: 6.5vh;
    border-radius: 10px;
  }
  .info {
    overflow: hidden;

    h1 {
      @extend .regularText;
      position: relative;
    }
    h2 {
      @extend .subText;
      margin-top: 0.25rem;
      color: $color-blue;
    }
  }

  .control {
    display: grid;
    grid-template-columns: 1fr 4fr 1.25fr;
    grid-gap: 1rem;
    align-items: center;

    img {
      width: 2.75rem;
      border-radius: 0px;
    }
    .buttonNext {
      width: 1rem;
    }
  }
}
