@import "_base.scss";

.PlayerPlaylist {
  margin-top: 0.5rem;

  .PlayerPlaylistHeader {
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
    position: relative;

    h1 {
      color: $color-blue;
      font-weight: bold;
      font-size: 1.2rem;

      span.new {
        width: 7px;
        height: 7px;
        border-radius: 100%;
        background: #ed254e;
        display: inline-block;
        vertical-align: top;
        position: relative;
        left: 4px;
      }
    }

    .ButtonSave {
      position: absolute;
      right: 0;

      img {
        width: 1.3rem;
      }
    }
  }
}
