$color-white: rgb(255, 255, 255);
$color-blue: rgb(58, 89, 140);
$color-red: rgb(237, 37, 78);
$color-violet: rgb(182, 39, 216);
$color-bg-blue: rgb(49, 59, 101);
$color-bg-black: rgb(1, 22, 39);
$color-bg-black-blue: rgb(15, 33, 53);
$color-bg-black-blue-75: rgba(15, 33, 53, 0.75);
$color-bg-black-blue-50: rgba(15, 33, 53, 0.5);
$color-bg-black-blue-25: rgba(15, 33, 53, 0.25);
$color-black-transparent: rgba(15, 33, 53, 0.95);
$color-black-semi-transparent: rgba(15, 33, 53, 0.5);
$color-pitch-black-overlay-10: rgba(0, 0, 0, 0.1);
$color-pitch-black-overlay-25: rgba(0, 0, 0, 0.25);
$color-pitch-black-overlay-50: rgba(0, 0, 0, 0.5);
$color-pitch-black-overlay: rgba(0, 0, 0, 0.8);

$font-default: Segoe UI, sans serif;
$font-default: "Poppins", sans-serif;

$z-toast: 200;
$z-popup: 120;
$z-option: 110;
$z-overlay: 100;
$z-navbar: 70;
$z-player: 50;
$z-navbar-desktop: 40;
$z-miniplayer: 20;
$z-playlist: 10;

a {
  text-decoration: none;
}
h1 {
  @extend .regularText;
}
h2 {
  @extend .subText;
}
button {
  background: none;
  border: 1px solid $color-red;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  transition: 0.3s ease;
}
button:hover {
  background: $color-red;
  transform: scale(1.05, 1.05);
}
input {
  border: none;
  background: $color-bg-black;
  border-radius: 100px;
  padding: 1rem 2rem;
  outline: none;
}

.headingText {
  font-size: 1.6rem;
  font-weight: bold;
  color: $color-white;
}
.regularText {
  font-size: 1rem;
  font-weight: normal;
  color: $color-white;
}
.subText {
  font-size: 0.9rem;
  font-weight: normal;
  color: $color-blue;
}

.centerHorizontal {
  left: 50%;
  transform: translate(-50%, 0);
}
.centerVertical {
  top: 50%;
  transform: translate(0, -50%);
}
.centerBoth {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
