@import "_base";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: $color-white;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.App {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  font-family: $font-default;
  color: $color-white;
  background: $color-bg-blue;
  background: linear-gradient($color-bg-black 0%, $color-bg-blue 100%);
}

.Listen,
.Discover,
.Library {
  position: absolute;
  height: 84vh;
  overflow-y: auto;
  width: 100vw;
}

h1,
h2 {
  font-weight: normal;
}
