@import "_base";
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  color: $color-white;
  cursor: default;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.App {
  overflow: hidden;
  width: 100vw;
  font-family: $font-default;
  min-height: 100vh;
  padding-bottom: 25vh;
  color: $color-white;
  background: $color-bg-blue;
  background: linear-gradient($color-bg-black 0%, $color-bg-blue 100%);
}

.Listen,
.Discover,
.Library {
  position: absolute;
  width: 100vw;
}

h1,
h2 {
  font-weight: normal;
}
